@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: "Poppins", sans-serif;
    background: #fafafa;
}

.item,
.item:hover,
.item:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    margin-bottom: 40px;
}

.btn-dark {
    background-color: #324857;
}
.btn-dark:hover {
    background-color: #22313b;
}

.btn:active,
.btn:focus,
.btn-dark:active,
.btn-dark:focus {
    box-shadow: none !important;
    border: none !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    right: 0px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.logo-user {
    justify-content: center;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    padding-top: 85px;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #22313b;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -200px;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 12px;
    display: block;
}

#sidebar ul li a:hover {
    color: white;
    background: #17202779;
}

#sidebar ul li.active {
    color: #fff;
    background: linear-gradient(
        90deg,
        rgba(111, 148, 173, 0.2) 18.51%,
        rgba(115, 157, 185, 0) 84.42%
    );
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #22313b;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    padding-top: 100px;
    width: calc(100% - 200px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #eeeeee;
}

#content.active {
    width: 100%;
}

.breadcrumb-item + .breadcrumb-item::before {
    float: left;
    padding-right: 0.5rem;
    color: #6c757d;
    content: var(--bs-breadcrumb-divider, ">");
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -200px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 200px);
    }
    #sidebarCollapse span {
        display: none;
    }
    .logo-user {
        justify-content: right;
    }
}
